.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutmeBox{
    margin-top: 25px;
    width:50%;
    min-height: 100vh;
    backdrop-filter: blur(12px);
    background-color: rgba(11, 7, 24, 0.548);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


/* ------------------------------------mediaQuery 480px---------------------------- */
@media (max-width:480px){
    .aboutmeBox{
       margin-top: 60%;
       width:360px;
       word-spacing: 1px;
       letter-spacing: 1px;
    }
}
