/* ------------------------------Navbar--------------------------------- */
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(33, 33, 34, 0.685);
    height: 180px;
}

.Profile-name-div {
    width: 580px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Profile-name-div img {
    width: 165px;
    border: 2px solid rgb(253, 158, 33);
    height: 165px;
    border-radius: 50%;
}
/* ------------------------------------------navBarItems----------------------------------------- */
.navbarItem{
    position: relative;
    top:-30px;
    right:32%;
    width:450px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: rgb(246, 247, 247);
    font-weight: 700;
}
.gitDiv a{
    width:90px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.gitDiv img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px orange;
}
/* ----------------------nav and Download---------------------------------- */
.navAndDownload{
    position: relative;
    top:15px;
}
/* ---------------------download button position-------------------------- */
.downloadButtonDIv{
    position: relative;
    top: -15px;
    left:42%;
    width:120px;
}
.mobileDownload{
    display: none;
}
/* --------------------------------HOME------------------------------ */
.homeContainer {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infoBox {
    width:370px;
    height: 220px;
    border-radius: 3px;
    backdrop-filter: blur(15px);
    background-color: rgba(29, 27, 27, 0.5);
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 5px 2px rgb(189, 187, 187);
}

.infoBox:hover {
    cursor: pointer;
    transition: transform 0.5s ease;
    transform: scale(1.1);
}

.info-title {
    font-size: 25px;
    color: rgb(212, 212, 211);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* -------------------------------Technology box----------------------------------- */
.techno-Batch {
    position: relative;
    top: -32px;
    left: 120px;
}

.techno-Batch img {
    width: 35px;
    height: 35px;
}

.tech-list {
    width:350px;
    position: relative;
    left: 15px;
    top: -15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 18px;
    
}
.tech {
    width:100px;
    display: flex;
    justify-content:start;
    height: 15px;
    color: rgb(26, 33, 63);
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.tech img {
    width: 25px;
    height: 25px;
}

.tech span:hover {
    color: aqua;
}

/* -------------------------------------Projects----------------------------------------------- */
.Project {
    width: 40px;
    position: relative;
    top: -30px;
    right: -140px;
}

.Project img {
    height: 40px;
}

/* --------------------------------------Achivment box----------------------------------------- */
.batch {
    width: 50px;
    position: relative;
    top: -40px;
    right: -120px;
}

.batch img {
    height: 50px;
}