/* --------------------------------HOME------------------------------ */
@media (max-width:480px) {
    body{
        padding: 0px;
        margin: 0px;
    }
    /* -----------------------------------App------------------------------------- */
    /* .appContainer {
        height:100vh;
        width: 100vw;
        background-image: url("/background.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
    } */

/* --------------------------------navbar------------------------------------------- */
    .navBar{
        position: fixed;
        top:0px;
        display: flex;
        width: 100%;
        height: 35%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 5;

    }
    .Profile-name-div{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .detailDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .Profile-name-div img{
        width:100px;
        height:100px;
    }
/* ---------------------------navbar links------------------------------- */
.navbarItem{
    width:360px;
    position: relative;
    display: flex;
    justify-content: space-between;
    top:-2px;
    left:8px;
}
/* ---------------------------download Component--------------------- */
    .downloadDiv {
        position: absolute;
        margin-top:45%;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 1%;
        width: 120px;
        height: 40px;
    }
    .downloadLink {
        display: flex;
        padding: 5px;
        border-radius: 5px;
        backdrop-filter: blur(25px);
        background-color: rgba(247, 133, 26, 0.767);
    }

    /* ------------------------------Home-------------------------------------------- */
    .homeContainer {
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .infoBox {
        position: relative;
        top:25%;
    }
}