/* --------------------------------HOME------------------------------ */
@media (max-width:480px) {
    /* -----------------------------------App------------------------------------- */
    .appContainer {
        height: 100%;
        width: 100%;
        background-image: url("/background.jpg");
        background-size:cover;
        background-repeat: no-repeat;
        background-position: center;
        position:absolute;
    }

/* --------------------------------navbar------------------------------------------- */
    .navBar{
        position: fixed;
        top:0px;
        display: flex;
        width: 100%;
        height: 34%;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: 5;

    }
    .Profile-name-div{
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
    }
    .detailDiv{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .Profile-name-div img{
        width:102px;
        height:102px;
    }
/* ---------------------------navbar links------------------------------- */
.navbarItem{
    width:360px;
    position: relative;
    display: flex;
    justify-content: space-between;
    top:-18px;
    left:8px;
}
/* ---------------------------download Component--------------------- */
   .downloadButtonDIv{
    position:absolute;
    top:30px;
    left:-7px;
   
   }
 
/* ------------------------------Home-------------------------------------------- */
    .homeContainer {
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .infoBox {
        position: relative;
        top:25%
    }
}